#logoImg {
  width: 75px;
}
.mat-badge-content {
  background-color: grey;
}
.textTitle {
  width: 300px;
}
.paragraphTitle {
  font-size: 12px;
}
.titleButton {
  font-size: 14px;
}

.backgroundImage {
  height: 60vh;
  object-fit: cover;
}
.iconLinks {
  color: black;
  font-size: 25px;
}
