<nav class="navbar navbar-expand-lg">
  <div class="container-fluid px-5">
    <div class="logoImage px-3 d-lg-block d-none">
      <img id="logoImg" src="/assets/flowerLogo.png" alt="Logo image" />
    </div>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="d-lg-none d-flex my-2">
        <img id="logoImg" src="/assets/flowerLogo.png" alt="Logo image" />
      </div>

      <ul class="navbar-nav mx-auto">
        <li
          class="nav-item"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li
          class="nav-item"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link">About</a>
        </li>
        <li
          class="nav-item"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link" routerLink="/shop">Shop</a>
        </li>
        <li
          class="nav-item"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          <a class="nav-link">Contact</a>
        </li>
      </ul>

      <div class="d-lg-none d-md-none d-flex my-2">
        <mat-icon>account_circle</mat-icon>
        <img
          src="/assets/arrowdown.png"
          width="15px"
          height="15px"
          alt="Arrow down"
        />
        <a class="iconLinks" routerLink="shoppingCart"><i class="material-icons" matBadge="{{itemsInCart}}">shopping_cart</i></a>
        
      </div>
    </div>
    <div
      class="navbarIcons d-none d-md-flex justify-content-end align-items-center ms-auto px-3"
    >
      <mat-icon>account_circle</mat-icon>
      <img
        src="/assets/arrowdown.png"
        width="15px"
        height="15px"
        alt="Arrow down"
      />
      <a routerLink="login" class="loginLink mx-3">Login</a>
      <a class="iconLinks" routerLink="shoppingCart"><i class="material-icons" matBadge='{{itemsInCart}}'>shopping_cart</i></a>
      
    </div>
  </div>
</nav>


