<div class="container mt-5">
  <div class="row">
    <div class="col-lg-4 col-md-6" *ngFor="let product of products">
      <div class="card border border-0 productContainer">
        <a id="productLink" [routerLink]="[product.title]">
          <img
            class="rounded-0 w-100"
            [src]="product.imgSrc"
            [alt]="product.title"
          />
          <div class="card-body">
            <div class="text-center border-none">
              <div class="cardTitle">{{ product.title }}</div>
              {{ product.price }}
              {{ product.currency }}
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
