<div class="container w-100">
  <div class="row">
    <div class="offset-1 col-10 d-flex justify-content-center">
      <div
        class="formContainer d-flex justify-content-center align-items-center"
      >
        <div class="formContainerInput">
          <form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm">
            <div class="formTitle text-center">
              <h5 class="fw-bold">Sign Up</h5>
            </div>
            <br />
            <div class="form-group">
              <label for="name" class="titleText">First Name</label>
              <input
                type="text"
                name="firstName"
                ngModel
                id="name"
                required
                minlength="5"
                class="form-control"
                #firstName="ngModel"
              />
              <span
                class="help-block"
                *ngIf="!firstName.valid && firstName.touched"
                >Name is required.<br
              /></span>
              <span
                class="help-block"
                *ngIf="firstName.errors?.['minlength'] && firstName.touched"
                >Name must be at least 5 characters long.<br
              /></span>

              <label for="surname" class="titleText">Last Name</label>
              <input
                type="text"
                name="surname"
                ngModel
                id="surname"
                #surname="ngModel"
                required
                minlength="5"
                class="form-control"
              />
              <span class="help-block" *ngIf="!surname.valid && surname.touched"
                >Surname is required.<br
              /></span>
              <span
                class="help-block"
                *ngIf="surname.errors?.['minlength'] && firstName.touched"
                >Last name must be at least 5 characters long.<br
              /></span>

              <label class="titleText" for="email">Email</label> <br />
              <input
                type="email"
                class="form-control"
                ngModel
                name="email"
                id="email"
                required
                email
                #email="ngModel"
              />
              <span class="help-block" *ngIf="!email.valid && email.touched"
                >Email is required and must be valid email address<br
              /></span>

              <label class="titleText" for="password">Password</label><br />
              <input
                type="password"
                ngModel
                name="password"
                id="password"
                class="form-control"
                autocomplete="off"
                required
                minlength="5"
                #password="ngModel"
              />
              <span
                class="help-block"
                *ngIf="!password.valid && password.touched"
                >Password is required</span
              ><br />
              <span
                class="help-block"
                *ngIf="password.errors?.['minlength'] && password.touched"
                >Password must be minimum 5 characters long</span
              >
            </div>
            <br />
            <p class="titleText">Forgot password?</p>
            <button
              id="btnLogIn"
              type="submit"
              [disabled]="!myForm.valid"
              class="btn btn-light w-100 titleText border-0"
            >
              Sign Up
            </button>
            <p class="titleText text-center">
              Already a member? <span><a routerLink="/login">Log In</a></span>
            </p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="modal fade"
  id="registrationModal"
  tabindex="-1"
  aria-labelledby="registrationModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog customBorder">
    <div class="modal-content rounded-0 d-flex align-items-center p-5">
      <h6 class="modal-title mt-3 mb-5 fw-bold" id="registrationModalLabel">
        Thank you for Registering
      </h6>

      <button
        type="button"
        class="btn btn-dark mt-4 mb-3"
        style="width: 100px"
        data-bs-dismiss="modal"
      >
        Continue
      </button>
    </div>
  </div>
</div>
