<div class="container mt-5 d-flex justify-content-between">
  <div class="productLinkTextContainer">
    <p class="productLinkText mt-2">{{ currentUrl }}</p>
  </div>
  <div
    class="btnScrollingButtonsContainer d-flex justify-content-center align-items-center"
  >
    <button id="btnPrevious" (click)="previousProduct()">< Prev</button>
    <p class="mt-2">|</p>
    <button id="btnNext" (click)="nextProduct()">Next ></button>
  </div>
</div>

<div class="container">
  <div class="row containerHeight">
    <div class="col-md-3 offset-md-2 imageContainer" *ngIf="product">
      <div class="d-flex justify-content-center">
        <img id="productImage" class="img-fluid" [src]="product.imgSrc" [alt]="product.title" />
      </div>
    </div>
    <div class="col-md-6" *ngIf="product">
      <div class="textContainer">
        <h6 class="fw-bold">
          {{ product.title }} <br />
          {{ product.price }} {{ product.currency }}
        </h6>
        <p id="productDescription">{{ product.description }}</p>
        <hr />
        <label id="quantityText" for="quantity">Quantity</label> <br />
        <input type="number" id="quantity" min="1" name="quantity" [(ngModel)]="quantity" /> <br />
        <button id="addToCart" class="btn btn-dark mt-2" (click)="addToCart()">Add to cart</button>
      </div>
    </div>
  </div>
</div>
