#btnPrevious, #btnNext {
    border: 0;
    background-color: #fff;
    font-size: 12px;
}

#productDescription {
    font-size: 14px;
}
#addToCart {
    font-size: 12px;
}
#quantity {
    width: 75px;
}
#quantityText {
    font-size: 14px;
}
.imageContainer {
    min-width: 150px;
}

.containerHeight {
    height: 85vh;
}
.customBorder {
    border: 2px solid #000;
    border-radius: 0;
}