.card-img-top {
  border-bottom: 1px solid #febdcc;
  width: 100%;
  min-width: 80px;
  object-fit: contain;
  margin-right: 15px;
}
#categoryTitle {
  font-size: 12px;
  min-width: 95px;
}
.width {
  width: 100px;
}
