<div class="container mt-5">
  <div class="row">
    <div class="col-3 d-flex w-100 justify-content-between">
      <div
        class="card border-0 text-center mx-5 width"
        *ngFor="let category of categories"
        (click)="selectCategory(category)"
      >
        <p id="categoryTitle">{{ category.name }}</p>
        <a [routerLink]="['/shop', category.name.toLowerCase()]"
          ><img
            class="card-img-top rounded-0 mb-3"
            [src]="category.imgSrc"
            [alt]="category.name"
        /></a>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
