<div class="container-fluid mt-5">
  <div class="row">
    <div class="col-12 offset-md-1 col-md-10 offset-lg-2 col-lg-8">
      <p>
        Established in 1910. FTD has been a premier provider of beautiful floral
        arrangements and gorgeous mixed flower bouquets for over 100 years.
        Whatever the occasion, our evergreen collection of colorful stems,
        blossoming plants, and fragrant arrangements have warmed hearts all
        across the country with our flower delivery services. At FTD, we
        celebrate the little things in life and cherish the timeless charm a
        single flower embodies. From birthday flowers to sympathy flowers, all
        of our hand-picked flower arrangements are worth more than a thousand
        words. <br /><br />
        Our sprawling network of florists is chock-full of expert green thumbs
        with an eye for elegance and perfection. As one of the largest and most
        trusted online floral retailers in the world, we take immense pride in
        our industry-leading title. Delivering quality, innovation, creative
        artistry, and dependability, FTD is much more than just an online flower
        delivery service.
      </p>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-lg-3 col-md-6" *ngFor="let flower of flowers">
      <app-flower [flower]="flower"></app-flower>
    </div>
  </div>
</div>

<div class="container-fluid d-flex justify-content-center">
  <div class="btn btn-outline-secondary mt-2">Load More</div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-5 col-md-4 mt-sm-4 aboutUsText">
      <p>
        Send us a message <br />
        A: Laze Nancica 7, 21000 Novi Sad
      </p>
      <p>T: 021/422-022</p>
      <p>office&#64;smartinit.net</p>
      <br />
      <p>MON-FRI: 7am - 10pm</p>
      <p>SAT: 8am - 10pm</p>
      <p>SUNDAY:-</p>
      <br />
      <p>FAQ/</p>
      <p>Shipping & Returns /</p>
      <p>Store Policy /</p>
      <p>Payment Methods /</p>
    </div>
    <div class="col-lg-7 col-md-8">
      <form class="form mt-5 text-center">
        <div class="form-group d-flex flex-column">
          <div class="nameEmail d-flex">
            <label for="name"></label>
            <input type="text" id="name" name="name" placeholder="Name" />
            <label for="email"></label>
            <input type="email" id="email" name="email" placeholder="Email" />
          </div>

          <label for="subject"></label>
          <input
            type="text"
            id="subject"
            name="subject"
            placeholder="Subject"
          /><br />
          <label for="message"></label>
          <textarea
            name="message"
            id="message"
            placeholder="Message"
          ></textarea>
        </div>
        <button
          id="btnFormSend"
          class="btn btn-outline-secondary mt-2 px-3 text-uppercase"
        >
          Send
        </button>
      </form>
      <div class="subscribe-container d-flex flex-column mt-5">
        <div class="labelDiv">
          <label class="mb-2" for="subscribeEmail">Get our newsletter</label>
        </div>
        <div class="inputDiv d-flex">
          <input
            class="me-3"
            type="email"
            id="subscribeEmail"
            name="subscribeEmail"
            placeholder="Enter your email here"
          />
          <div class="btnSubscribe">
            <button class="btn btn-dark btn-sm">Subscribe Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 p-0 d-flex sendWishesContainer">
      <div
        class="sendGiftContainer d-flex flex-column align-items-center justify-content-center flex-fill m-0 text-light p-5"
      >
        <h5>Send get Well Wishes</h5>
        <p>
          Brighten their recovery with beautiful florals, plants and gifts that
          will express your well wishes.
        </p>
        <button class="btn btn-secondary text-uppercase btn-sm rounded-pill">
          Shop get well flowers & gifts
        </button>
      </div>
    </div>
    <div class="col-md-6 p-0 d-flex sendWishesContainer">
      <div class="getWellWishesImageContainer d-flex"><img class="img-fluid sendWishesImage " [src]="ImagePath" alt="Flower image" /></div>
    </div>
  </div>
</div>
